<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmybatis.admin.common.mapper.CommonMapper">

	<!-- id: interface클래스(mapper)의 추상메소드명 -->
	<!-- resultType: domain class명 -->
	<!-- cc.comm_group_cd = #{comm_group_1}; // 'comm_group_1' -->
	<!-- cc.comm_group_cd = ${comm_group_1}; // comm_group_1 -->
	<select id="getCommonCodeListByGroupCode" resultType="ksmybatis.admin.common.domain.CommonCode"
			parameterType="String">
		/* 공통코드 조회 */
		select 
			cc.comm_group_cd 	as commonGroupCode,
			cc.comm_cd 			as commonCode,
			cc.comm_nm 			as commonCodeName
		from 
			comm_code cc inner join comm_group_code cgc 
			on cc.comm_group_cd = cgc.comm_group_cd 
		where 
			cc.comm_group_cd = #{groupCode};

	</select>
</mapper>